aac
android-clat
ant-glob
antlr
apache-harmony
apache-http
apache-xml
arduino
bison
blktrace
bluetooth
bouncycastle
bsdiff
bzip2
ceres-solver
checkpolicy
chromium-libpac
chromium-trace
chromium_org
clang
cmockery
compiler-rt
conscrypt
deqp
dexmaker
dhcpcd
dnsmasq
doclava
droiddriver
e2fsprogs
easymock
eclipse-basebuilder
eclipse-windowbuilder
eigen
elfutils
emma
esd
expat
eyes-free
f2fs-tools
fdlibm
fio
flac
fonttools
freetype
fsck_msdos
gcc-demangle
genext2fs
giflib
glide
google-diff-match-patch
google-fonts
google-tv-pairing-protocol
gtest
guava
hamcrest
harfbuzz_ng
icu
iproute2
ipsec-tools
iptables
iputils
jarjar
javasqlite
javassist
jdiff
jemalloc
jhead
jmdns
jpeg
jsilver
jsmn
jsoncpp
jsr305
junit
kernel-headers
ksoap2
libcap-ng
libcxx
libcxxabi
libedit
libexif
libgsm
libhevc
liblzf
libmtp
libnfc-nci
libnfc-nxp
libnl
libogg
libopus
libpcap
libphonenumber
libpng
libselinux
libsepol
libunwind
libusb-compat
libusb
libutf
libvorbis
libvpx
libvterm
libxml2
libyuv
linux-tools-perf
littlemock
lldb
llvm
lohit-fonts
ltrace
lzma
markdown
mdnsresponder
mesa3d
mksh
mockito
mockwebserver
mp4parser
mtpd
nanohttpd
nanopb-c
naver-fonts
netcat
netperf
neven
nfacct
nist-pkits
nist-sip
noto-fonts
oauth
objenesis
okhttp
opencv
openfst
openssl
oprofile
owasp
pcre
pdfium
pixman
ppp
proguard
protobuf
qemu-pc-bios
qemu
regex-re2
replicaisland
robolectric
safe-iop
scrypt
sepolicy
sfntly
skia
smack
smali
sonivox
speex
sqlite
srec
srtp
stlport
strace
stressapptest
svox
tagsoup
tcpdump
timezonepicker-support
tinyalsa
tinycompress
tinyxml
tinyxml2
tremolo
valgrind
vixl
webp
webrtc
wpa_supplicant_8
xmlwriter
xmp_toolkit
yaffs2
zlib
zopfli
zxing

